body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: initial;
}
.small{
    font-size: 11px;
}
.big{
    font-size: 18px;
}
.container-fluid{
    max-width: 1200px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overlay.white{
    background-color: rgba(255,255,255,0.5)
}
